*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  background-color: $background-color
.container
  max-width: 1110px
  margin: auto
  &-navbar
    max-width: 1140px
    min-height: 100px
    display: flex
    align-items: center
    margin-bottom: 36px
    &__bottom
      height: 100%
      width: 100%
      padding-top: 22px
      background-color: $primary
  &-main
    max-width: 1280px
    min-height: 700px
    width: 89%
    /*height: 700px*/
    padding: 0
    margin: 0 auto
    overflow: hidden
    position: relative
    /*background-image: url("../img/image-main.png")*/
    /*background-repeat: no-repeat*/
    /*background-size: cover*/
  &-collection
    max-width: 1140px
    min-height: 490px
    padding: 0
    margin: 120px auto 100px
    overflow: hidden
    position: relative
    display: flex
    flex-direction: row
  &-trends
    max-width: 1191px
    min-height: 1135px
    padding: 0 30px
    margin: 123px auto
    overflow: hidden
    position: relative
    display: flex
    flex-direction: column
  &-reviews
    max-width: 800px
    min-height: 389px
    padding: 0
    margin: -51px auto 80px
    overflow: hidden
    position: relative
    display: flex
    flex-direction: column
    align-items: center
  &-history
    max-width: 1150px
    min-height: 606px
    padding: 0
    margin: 65px auto 80px
    overflow: hidden
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: end
  &-thanks
    max-width: 1150px
    min-height: 606px
    padding: 0
    margin: 65px auto 80px
    overflow: hidden
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: end
  &-footer
    max-width: 100%
    min-height: 520px
.button
  &-on
    filter: brightness(0) saturate(100%) invert(19%) sepia(8%) saturate(3867%) hue-rotate(165deg) brightness(95%) contrast(93%)
    outline: none
    &:active
      outline: none
    &:focus
      outline: none
  &-off
    filter: brightness(0) saturate(100%) invert(73%) sepia(15%) saturate(259%) hue-rotate(178deg) brightness(83%) contrast(95%)
    outline: none
.invalid
  color: $primary
  border-bottom: 1px solid $primary
label.invalid
  position: absolute
  bottom: -12px
  font-size: 12px
  line-height: 12px
  border-bottom: none
  color: #FFFFFF
