.logo
  &__image
    width: 90px
.menu
  &-button
    display: flex
    width: 16px
    height: 11px
    padding: 0
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: #fff
    cursor: pointer
    outline: none
    &__line
      width: 16px
      height: 1px
      background-color: #333
.navbar
  &-top
    min-width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    &__menu
      &-button
        display: none
  &-menu
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    &__top
      display: flex
      flex-direction: row
    &__main
      display: flex
      list-style-type: none
      align-items: center
      justify-content: space-between
      margin: 0 13px 0 0
      padding: 0
    &_item
      margin-right: 40px
      max-width: fit-content
    &__link
      font-family: Open Sans
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $primary
      text-decoration: none
      margin-right: 40px
  &-exit
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: $secondary
    border: 2px solid $secondary
    padding: 11px 20px
    border-radius: 8px
    text-decoration: none
  &-bottom
    display: none
    &--visible
      display: block
      height: 92%
      position: fixed
      top: 85px
      left: 0
      right: 0
      bottom: 0
      overflow: hidden
