.main
  &-block
    max-width: 652px
    max-height: 592px
    position: absolute
    top: 62px
    left: 107px
    bottom: 46px
    display: flex
    flex-direction: column
    align-items: flex-start
  &-badge
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    text-align: center
    color: $badge-color
    background-color: #D6E5DE
    padding: 6px 16px
    border-radius: 2000px
    text-decoration: none
  &-title
    font-family: 'HK Grotesk Bold', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 56px
    line-height: 68px
    letter-spacing: 0.2px
    padding: 0
    margin: 28px 0
  &-text
    max-width: 652px
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 36px
    color: $text-color
    padding: 0
    margin: 0 0 53px 0
  &-button
    background: $primary
    border-radius: 8px
    padding: 15px 40px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    text-align: center
    color: #FFFFFF
    border: none
  &-menu
    max-width: 464px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0
    margin: 48px 0 0 0
    &__image
      width: 36px
      height: 36px
    &__item
      list-style-type: none
      &:nth-child(2)
        margin: 0 31px
    &__link
      display: flex
      align-items: center
      text-decoration: none
      font-family: HK Grotesk
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.2px
      color: $primary
